/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
  padding-top: 60px;
}

h1 { 
    font-size: 32px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}


p { margin: 1em 0; }

a         {  }
a:hover   {  }
a:visited {  }

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

nav.navbar {
	background-image: none;
	box-shadow: none;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.80) !important;
}

nav.navbar .navbar-brand {
	color: #F60 !important;
}

nav.navbar .navbar-nav a {
  color: #777 !important;
}

nav.navbar .navbar-nav .active a {
  color: #000 !important;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.80) !important;
  box-shadow: none;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
	text-align: center;
}

.posts .month-divider {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-top: thin solid #ddd;
  border-bottom: thin solid #ddd;
}

.posts .panel-body {
	height: 300px;
}

.posts .panel-body a img {
    max-width: 100%;
  	height: 150px;
}

.posts h2 {
	color: #aaa;
	font-size: 18px;
  color: #777;
}

/*****************************************************************************/
/*
/* Post page
/*
/*****************************************************************************/

.post .intro {
  text-align: center;
}

.post .intro img {
  max-height: 100px;
}

.post .content {
  text-align: left;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
