---
layout: default
---

<div class="posts">
	{% for post in site.posts %}
	  {% capture currentmonth %}{{post.date | date: "%B"}}{% endcapture %}
	  {% if currentmonth != month %}

    	{% unless forloop.first %}</div>{% endunless %}	
    	<div class="clearfix"></div>
		<h2 class="month-divider">{{ currentmonth }} {{post.date | date: "%Y"}}</h2>
		<div class="row" id="home">

	  {% endif %}


    	<div class="col-sm-6 col-md-3">
    	<div class="panel panel-default">
		  <div class="panel-body">
		      <a href="{{ post.url }}"><img src="{{ post.thumbnail }}" alt="{{ post.title }}"></a>
		      <div class="caption">
			
				<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
				<p>{{ post.description }}</p>			
		      </div>
		  </div>
		  <div class="panel-footer">{{ post.author }}<br/>{{ post.date | date: "%-d %B %Y" }}</div>
		</div>
		</div>
    	{% capture month %}{{currentmonth}}{% endcapture %} 
    {% endfor %}
</div>